[submodule "dep/imhex"]
	path = dep/imhex
	url = git@github.com:WerWolv/ImHex.git
[submodule "dep/libwolv"]
	path = dep/libwolv
	url = git@github.com:WerWolv/libwolv.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "pattern-language"]
	path = dep/pattern-language
	url = https://github.com/WerWolv/PatternLanguage.git
