[submodule "dep/imhex"]
	path = dep/imhex
	url = http://github.com/WerWolv/ImHex.git
[submodule "dep/libwolv"]
	path = dep/libwolv
	url = git@github.com:WerWolv/libwolv.git
[submodule "dep/libromfs"]
	path = dep/libromfs
	url = https://github.com/WerWolv/libromfs.git
