name: C/C++ CI

on: [push]

concurrency: 
  group: environment-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: 'davidgiven/fluxengine'
        path: 'fluxengine'
        submodules: 'true'
    - uses: actions/checkout@v4
      with:
        repository: 'davidgiven/fluxengine-testdata'
        path: 'fluxengine-testdata'
    - name: apt
      run: |
        sudo apt install libudev-dev libsqlite3-dev protobuf-compiler libwxgtk3.2-dev libfmt-dev libprotobuf-dev libmagic-dev libmbedtls-dev libcurl4-openssl-dev libmagic-dev nlohmann-json3-dev libdbus-1-dev libglfw3-dev libmd4c-dev libfreetype-dev libcli11-dev libboost-regex-dev
    - name: make
      run: CXXFLAGS="-Wp,-D_GLIBCXX_ASSERTIONS" make -j`nproc` -C fluxengine

  #build-linux-debian-11:
  #  runs-on: ubuntu-22.04
  #  container: debian:11
  #  steps:
  #  - uses: actions/checkout@v4
  #    with:
  #      repository: 'davidgiven/fluxengine'
  #      path: 'fluxengine'
  #  - uses: actions/checkout@v4
  #    with:
  #      repository: 'davidgiven/fluxengine-testdata'
  #      path: 'fluxengine-testdata'
  #  - name: apt update
  #    run: apt update
  #  - name: apt
  #    run: >
  #      apt install -y python3 make xz-utils python3 python3-hamcrest
  #      protobuf-compiler libprotobuf-dev libsqlite3-dev
  #      libfmt-dev libprotobuf-dev wx-common pkg-config
  #      libudev-dev g++ libwxgtk3.0-gtk3-dev
  #  - name: make
  #    run: make -C fluxengine
      
  build-macos-current:
    strategy:
      matrix:
        runs-on: [macos-13, macos-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v4
      with:
        repository: 'davidgiven/fluxengine'
        path: 'fluxengine'
        submodules: 'true'
    - uses: actions/checkout@v4
      with:
        repository: 'davidgiven/fluxengine-testdata'
        path: 'fluxengine-testdata'
    - name: brew
      run: |
        brew install sqlite pkg-config libusb protobuf wxwidgets fmt make coreutils dylibbundler libjpeg libmagic nlohmann-json cli11 boost glfw3 md4c
    - name: make
      run: gmake -C fluxengine
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}.${{ github.sha }}.fluxengine.${{ runner.arch }}.pkg
        path: |
          fluxengine/FluxEngine.pkg
          fluxengine/FluxEngine.app.zip

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: actions/checkout@v4
      with:
        repository: 'davidgiven/fluxengine'
        path: 'fluxengine'
        submodules: 'true'

    - uses: actions/checkout@v4
      with:
        repository: 'davidgiven/fluxengine-testdata'
        path: 'fluxengine-testdata'

    - uses: msys2/setup-msys2@v2
      with:
        msystem: mingw64

    - name: dependencies
      run: |
        set -x
        pacman -S --needed --noconfirm pactoys make python diffutils ninja
        pacboy -S --needed --noconfirm protobuf:p pkg-config:p curl-winssl:p file:p glfw:p mbedtls:p sqlite:p freetype:p boost:p gcc:p binutils:p

    - name: run
      run: |
        make -C fluxengine BUILDTYPE=windows

    - name: nsis
      run: |
        cd fluxengine && strip fluxengine.exe -o fluxengine-stripped.exe
        cd fluxengine && strip fluxengine-gui.exe -o fluxengine-gui-stripped.exe
        cd fluxengine && makensis -v2 -nocd -dOUTFILE=fluxengine-installer.exe extras/windows-installer.nsi

    - name: zip
      run: |
        cd fluxengine && zip -9 fluxengine-windows.zip fluxengine.exe fluxengine-gui.exe upgrade-flux-file.exe brother120tool.exe brother240tool.exe FluxEngine.cydsn/CortexM3/ARM_GCC_541/Release/FluxEngine.hex fluxengine-installer.exe

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}.${{ github.sha }}.windows.zip
        path: fluxengine/fluxengine-windows.zip
